<div>
    <div class="carousal-container">
        <div class="control-container" *ngIf="switchControls">
            <button class="controls-hrz" (click)="onPreviousCarousal()">
                <span class="material-symbols-outlined">arrow_back</span>
            </button>
        </div>
        <div class="clip-container">
            <div class="item-container" (mouseleave)="onMouseLeave()">
                <div class="carousal-item" *ngFor="let template of getCurrentTemplates; let i = index">
                    <ng-container *ngTemplateOutlet="template"></ng-container>
                </div>
            </div>
        </div>
        <div class="control-container" *ngIf="switchControls">
            <button class="controls-hrz" (click)="onNextCarousal()">
                <span class="material-symbols-outlined">arrow_forward</span>
            </button>
        </div>
    </div>
    <div *ngIf="viewIndicator"
     class="carousal-view-controls"
     [ngStyle]="{ 'padding': viewCtrlPadding, 'gap': viewCtrlGap}">
        <ng-container *ngFor="let view of (0 | range: numberOfViews - 1); let i = index">
            <div class="carousal-btn-container">
                <button class="carousal-btn" [class.selected]="isActiveView(i)" (click)="navigateToSpecificCarousal(i)"></button>
            </div>
        </ng-container>
    </div>
</div>
