<div class="container">
    <div class="product-sub-section">
        <product-item 
            class="product-item-l"
            [showBtn]="true"
            [productStock]="47"
            productLabel="Body Lotion"
            productImg="/assets/collection-1.jpg">
        </product-item>
        <product-item 
            class="product-item-s"
            [showBtn]="true"
            [productStock]="38"
            productLabel="Skin Tube"
            productImg="/assets/collection-3.jpg">
        </product-item>
    </div>
    <div class="product-sub-section revered">
        <product-item 
            class="product-item-s"
            [showBtn]="true"
            [productStock]="37"
            productLabel="Beauty Soap"
            productImg="/assets/collection-2.jpg">
        </product-item>
        <product-item
            class="product-item-l"
            [showBtn]="true"
            [productStock]="99"
            productLabel="Face Cleaner"
            productImg="/assets/collection-4.jpg">
        </product-item>
    </div>
</div>