@import '../../../styles/fonts.scss';
@import '../../../styles/colors.scss';
@import '../../../styles/dimns.scss';

.footer-section {
    margin-top: 32px;
    background-color: $footer-color;
    display: flex;
    flex-direction: row;
    gap: 64px;

    .footer-main {
        flex: 2;
        gap: 16px;

        h2 {
            margin-bottom: 16px;
            @include font-regular($prime-text, 700);
        }

        p {
            color: $disabled-text;
            @include font-regular($prime-text);
            text-align: justify;
        }
    }

    .footer-options {
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 32px;

        .options {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h2 {
                margin-bottom: 16px;
                @include font-regular($prime-text, 700);
            }

            span {
                color: $disabled-text;
                @include font-regular($prime-text);
            }
        }
    }
}