<hero-section-v1></hero-section-v1>
<product-section></product-section>
<features-section></features-section>
<new-arrival-section></new-arrival-section>
<featured-products-section></featured-products-section>
<subscribe-section></subscribe-section>
<trending-section></trending-section>


<!-- <div class="review-product-section">
    <div class="new-product-section">
        <h1>Trusted Customer Feedback</h1>
        <p>Read Our Trusted Customer Feedback! See what our satisfied customers are saying about their favorite products. Real reviews, real experiences - your guide to shopping with confidence!</p>
    </div>
    <div class="reviews-sections">
        <carousal [numberOfLayouts]="3" [switchControls]="false" [hoverSwitchNext]="true">
            <ng-template *ngFor="let review of reviewsData">
                <div class="review-Container">
                    <p>{{ review.description }}</p>
                    <div class="author-info">
                        <h2>{{ review.author }}</h2>
                        <span> - </span>
                        <span>{{ review.title }}</span>
                    </div>
                    <div class="review">
                        <span class="material-symbols-outlined selected">star</span>
                        <span class="material-symbols-outlined selected">star</span>
                        <span class="material-symbols-outlined selected">star</span>
                        <span class="material-symbols-outlined selected">star</span>
                        <span class="material-symbols-outlined">star</span>
                    </div>
                </div>
            </ng-template>
        </carousal>
    </div>
</div> -->

<!--
<div class="brand-section">
    <h2>Our Trusted Branding Partners</h2>
    <img src="/assets/partner-1.png">
    <img src="/assets/partner-2.png">
    <img src="/assets/partner-3.png">
    <img src="/assets/partner-4.png">
    <img src="/assets/partner-5.png">
</div>

<div class="footer-section">
    <div class="footer-main">
        <h2>e-Store</h2>
        <p>Welcome to e-Store! Your go-to destination for the latest in fashion and lifestyle products. We pride ourselves on offering high-quality, trendy items that cater to all your style needs. With exceptional customer service, fast shipping, and exclusive discounts, we ensure a delightful shopping experience. Join our community today and discover why our customers love shopping with us!</p>
    </div>
    <div class="footer-options">
        <div class="options">
            <h2>Help</h2>
            <span>Track Your Order</span>
            <span>Product Guides</span>
            <span>Wishlist</span>
            <span>Privacy Policy</span>
            <span>Store Locator</span>
        </div>
        <div class="options">
            <h2>Company</h2>
            <span>About Us</span>
            <span>Contact Us</span>
            <span>Locate Us</span>
            <span>Careers</span>
            <span>Gift Cards</span>
        </div>
        <div class="options">
            <h2>Social Media</h2>
            <span>Instagram</span>
            <span>Pinterest</span>
            <span>Facebook</span>
            <span>Twitter</span>
            <span>Phone: +1 (647) 666 0077</span>
        </div>
    </div>
</div>

-->