<div class="nav-container">
    <div class="logo-container anton-regular">
        e-Store
    </div>
    <div class="items-container">
        <div class="nav-links-container">
            <a>HOME</a>
            <a>SHOP</a>
            <a>MEN</a>
            <a>WOMEN</a>
            <a>GALLERY</a>
            <a>CONTACT</a>
        </div>
        <div class="nav-search-container">
            <input class="search-box-input" type="text" placeholder="Search for products">
            <span class="material-symbols-outlined">search</span>
        </div>
        <div class="nav-control-container">
            <span class="material-symbols-outlined">shopping_cart</span>
            <span class="material-symbols-outlined">favorite</span>
            <span class="material-symbols-outlined">person</span>
        </div>
    </div>
</div>
