<div class="footer-section">
    <div class="container">
        <div class="footer-main">
            <h2>e-Store</h2>
            <p>Welcome to e-Store! Your top destination for trendy fashion and lifestyle products. Enjoy high-quality items, exceptional customer service, fast shipping, and exclusive discounts. Join our community and discover why customers love shopping with us!</p>
            <a> Check our shop in Google Map</a>
        </div>
        <div class="footer-options">
            <div class="options">
                <h2>Help</h2>
                <span>Track Your Order</span>
                <span>Product Guides</span>
                <span>Wishlist</span>
                <span>Privacy Policy</span>
                <span>Store Locator</span>
            </div>
            <div class="options">
                <h2>Company</h2>
                <span>About Us</span>
                <span>Contact Us</span>
                <span>Locate Us</span>
                <span>Careers</span>
                <span>Gift Cards</span>
            </div>
            <div class="options">
                <h2>Social Media</h2>
                <span>Instagram</span>
                <span>Pinterest</span>
                <span>Facebook</span>
                <span>Twitter</span>
                <span>Phone: +1 (647) 666 0077</span>
            </div>
        </div>
    </div>
    <div class="separator container"></div>
</div>