<div class="bg-container">
    <div class="container">
        <h1>Trusted Customer Feedback</h1>
        <p>Read Our Trusted Customer Feedback! See what our satisfied customers are saying about their favorite products. Real reviews, real experiences - your guide to shopping with confidence!</p>

        <div class="reviews-sections">
            <!-- Large product -->
            <carousal class="large-products" [numberOfLayouts]="3" [switchControls]="false" [hoverSwitchNext]="true">
                <ng-template *ngFor="let review of reviewsData">
                    <div class="review-Container">
                        <p>{{ review.description }}</p>
                        <div class="author-info">
                            <h2>{{ review.author }}</h2>
                            <span> - </span>
                            <span>{{ review.title }}</span>
                        </div>
                        <div class="review">
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </div>
                </ng-template>
            </carousal>
        
            <!-- Medium product -->
            <carousal class="medium-products" [numberOfLayouts]="2" [switchControls]="false" [hoverSwitchNext]="true">
                <ng-template *ngFor="let review of reviewsData">
                    <div class="review-Container">
                        <p>{{ review.description }}</p>
                        <div class="author-info">
                            <h2>{{ review.author }}</h2>
                            <span> - </span>
                            <span>{{ review.title }}</span>
                        </div>
                        <div class="review">
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </div>
                </ng-template>
            </carousal>
        
            <!-- Small product -->
            <carousal class="small-products" [numberOfLayouts]="1" [switchControls]="false" [hoverSwitchNext]="true">
                <ng-template *ngFor="let review of reviewsData">
                    <div class="review-Container">
                        <p>{{ review.description }}</p>
                        <div class="author-info">
                            <h2>{{ review.author }}</h2>
                            <span> - </span>
                            <span>{{ review.title }}</span>
                        </div>
                        <div class="review">
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined selected">star</span>
                            <span class="material-symbols-outlined">star</span>
                        </div>
                    </div>
                </ng-template>
            </carousal>
        </div>
    </div>
</div>