<div class="background-container">
    <div class="container">
        <div class="container-row">
            <div class="stat-container">
                <div class="stat-icon-container">
                    <span class="material-symbols-outlined">local_shipping</span>
                </div>
                <div class="stat-value-container">
                    <h3>Free Shipping</h3>
                    <p>Order over $200</p>
                </div>
            </div>
            <div class="stat-container">
                <div class="stat-icon-container">
                    <span class="material-symbols-outlined">credit_card</span>
                </div>
                <div class="stat-value-container">
                    <h3>Secure Payment</h3>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
        <div class="container-row">
            <div class="stat-container">
                <div class="stat-icon-container">
                    <span class="material-symbols-outlined">redeem</span>
                </div>
                <div class="stat-value-container">
                    <h3>Gift Certificate</h3>
                    <p>Buy now $500 to $1000</p>
                </div>
            </div>
            <div class="stat-container">
                <div class="stat-icon-container">
                    <span class="material-symbols-outlined">support_agent</span>
                </div>
                <div class="stat-value-container">
                    <h3>24/7 Support</h3>
                    <p>Ready support</p>
                </div>
            </div>
        </div>
    </div>
</div>