<div class="container">
    <div class="subscribe-section">
        <div class="bordered-sub-section">
            <h1>Sign up now & get 10% off</h1>
            <p>Become a member today to receive an exclusive 10% discount on your first order, along with access to special promotions and early product releases.</p>
            <div class="email-container">
                <div class="email-input-container">
                    <input class="email-box-input" type="text" placeholder="Enter your email address">
                </div>
                <button class="sub-btn">
                    <span class="material-symbols-outlined">notifications_active</span>
                    <span>Subscribe Now</span>
                </button>
            </div>
        </div>
    </div>
</div>