<div class="container">
    <img class="separator" src="/assets/seprator.png" alt="separator">
    <h1>Our Featured Products</h1>
    <p>Explore Our Featured Products! Discover the top picks and customer favorites - elevate your style with our standout selections. Don't miss out on the most popular items of the season!</p>

    <!-- Large -->
    <carousal class="large-products" [numberOfLayouts]="4" [switchControls]="false" [hoverSwitchNext]="true">
        <ng-template *ngFor="let option of newProductData">
            <product-item 
                class="product-item"
                [productLabel]="option.label"
                [productPrice]="option.price"
                [productImg]="option.img">
            </product-item>
        </ng-template>
    </carousal>

    <!-- Medium -->
    <carousal class="medium-products" [numberOfLayouts]="2" [switchControls]="false" [hoverSwitchNext]="true">
        <ng-template *ngFor="let option of newProductData">
            <product-item 
                class="product-item"
                [productLabel]="option.label"
                [productPrice]="option.price"
                [productImg]="option.img">
            </product-item>
        </ng-template>
    </carousal>

    <!-- Small -->
    <carousal class="small-products" [numberOfLayouts]="1" [switchControls]="false" [hoverSwitchNext]="true">
        <ng-template *ngFor="let option of newProductData">
            <product-item 
                class="product-item"
                [productLabel]="option.label"
                [productPrice]="option.price"
                [productImg]="option.img">
            </product-item>
        </ng-template>
    </carousal>
</div>